@font-face {
    src: url(../fonts/Cabin-Regular.ttf);
    font-family: cabin;
  }
body{
    background-color: #E5E5E5;
}
/*HEAD AREA START*/
.about-head-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../imgs/about-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
    z-index: -2;
}
/*NAVBAR STARTS*/
.cus-head-pad{
    padding: 8px 0px;
}
.navbar-brand .navbar-logo{
    position: absolute;
    width: 99.91px;
    height: 35.94px;
    top: 10px;
}
.navbar{
    width: 100%;
    padding: 8px 0px;
}
.navbar-collapse{
    justify-content: flex-end;
}
.menu-img{
    width: 35px;
}
.navbar-collapse .navbar-nav .nav-item{
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    text-transform: capitalize;
    margin-right: 23px;
}
.navbar-collapse .navbar-nav .nav-item:hover{
    transition: .5s;
    opacity: 0.7;
}
.post-btn{
    background-color: #00044A;
    border-radius: 3px;
    color: #fff;
}
.login-btn{
    background-color: #19A5D3;
    border-radius: 3px;
    color: #fff;
}
.post-btn:hover{
    color: #fff;
}
.login-btn:hover{
    color: #fff;
}
/*NAVBAR ENDS*/
/* HEARED AREA START*/
.header-strip{
    position: relative;
    top: 460px;
    left: -30px;
    background-color: rgba(8, 54, 142, 0.7);
    border-radius: 0px 5px 5px 0px;
    height: 150px;
    width: 550px;
    z-index: -1;
}
.head-inner{
    font-family: cabin;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 70px;
    text-transform: capitalize;
    margin-top: 325px;
    z-index: 1000;
}
/*HEAD AREA END*/

/*JOB PORTAL AREA START*/
.job-portal{
    margin-top: 100px;
    margin-bottom: 220px;
}
.portal-inner{
    display: flex;
    flex-direction: row;
}
.portal-text-area{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.portal-text-area .portal-head{
    font-family: Cabin;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: #707070;
    width: 80%;
}
.portal-text-area .portal-text{
    font-family: Cabin;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #B1B1B1;
}
.portal-imgarea{
    position: absolute;
    right: 0px;
}
.portal-imgarea .portal-image{
    width: 705px;
    height: 600px;
}
/*JOB PORTAL AREA END*/

/*JOB COUNT AREA STARTS*/
.job-count-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../imgs/about-img2.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
.count-outter{
    padding-top: 127px;
    padding-bottom: 127px;
}
.counting-area .count-inner .counting{
    font-family: Cabin;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
.count-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.counting-area .count-inner .jobs-text{
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
}
/*JOB COUNT AREA ENDS*/

/*TESTIMONIAL AREA START*/
.cus-testi-outter{
    position: relative
}
.testi-outter::after{
    background-image: url("../imgs/Group 333.png");
    position: absolute;
    top:0px;
    right: 0;
    width: 316px;
    height: 316px;
    z-index: -100;
    content: "";
    background-position: right;
    background-repeat: no-repeat;
}
.testi-outter {
    margin-top: 100px;
    margin-bottom: 100px;
}
.testi-outter .testi-area{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.testi-txt-area .testi-heading{
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #707070;
    margin-bottom: 40px;
}
.testi-txt-area .testi-para{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #19A5D3;
    margin-bottom: 100px;
}
.testi-slider{
    margin-bottom: 150px;
    position: relative;
}
.owl-theme{
    overflow: hidden;
}
/* CAROUSEL AREA START*/
.owl-carousel, .owl-carousel.owl-loaded{
    height: 600px;
}
.slider{
    position: absolute;
    right: 210px;
}
.slider .owl-nav{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.owl-theme .owl-nav{
    display: none;
}
/* CAROUSEL AREA END*/
.card{
    background: #FFFFFF;
    box-shadow: 0px 15px 35px rgba(39, 44, 47, 0.1);
    border-radius: 8px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
}
.card .star-img img{
    width: 50%;
}
.card .card-text{
    margin: 40px auto;
}
.card .card-text p{
    font-family: Cabin;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    color: #697694;
}
.card .card-writer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
}
.card .card-writer .person-img img{
    height: 56px;
    width: 56px;
}
.person-info{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.person-info p:nth-child(1){
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #25313C;
    margin-bottom: 2px;
    text-transform: capitalize;
}
.person-info p:nth-child(2){
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #697694;
    margin-top: 2px;
    text-transform: capitalize;
}


/*TESTIMONIAL AREA ENDS*/

/* NEWS LETTER START*/
.newsltrr-color{
    background-image: linear-gradient(rgba(25, 165, 211, 0.7), rgba(25, 165, 211, 0.7)), url("../imgs/Rectangle 20.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    padding: 90px 0px;
    width: 100%;
    position: relative;
}
.news-ltr-img{
    position: absolute;
    left: 0px;
    top: -398px;
    z-index:-1;
}
.news-ltr-inner{
    font-family: cabin;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.news-ltr-inner .newsltr-heading{
    font-size: 50px;
    color: #C4C4C4;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.news-ltr-inner .newsltr-heading{
    font-size: 50px;
    color: #C4C4C4;
    text-transform: capitalize;
    margin-bottom: 20px;
}.news-ltr-inner .newsltr-para{
    font-size: 20px;
    color: #C4C4C4;
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: 26px;
}
.newsletter-input-outter .news-ltr-input{
    height: 50px;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 4px;
    border:0px;
}
.newsletter-input-outter .nuwltr-input-btn{
    background-color: #00044A;
    font-size: 16px;
    color: #ECF0F1;
    height: 50px;
    width: 170px;
    border-radius: 4px;
    text-transform: capitalize;
    border: 0px;
    margin-left: 20px;
}
.newsletter-input-outter input[type=text]{
    padding-left: 20px;
    font-family:cabin
}
.newsletter-input-outter .nuwltr-input-btn:hover{
    opacity: 0.8;
    transition: 0.5s;
    font-size: 20px;
}
/* NEWS LETTER ENDS*/

/*FOOTER AREA STARTS*/
.footer-bg{
    background-color: #707070;
    position: absolute;
}
.footer-inner{
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.footer-section1 .footer-logo{
    margin-bottom: 20px;
    width: 100px;
    height: 35px;
}
.footer-section1 .footer-logo-text{
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}
.footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-section2 .foot-heading, .footer-section3 .foot-heading, .footer-section4 .foot-heading, .footer-section5 .foot-heading{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
}  
.foot-link{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 10px;
}
.foot-link:hover{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
    opacity: 0.5;
    transition: 0.5s;
}
.foot-input{
margin-top:10px;
}
.foot-input .input-group-text{
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
}
.foot-input .input-txt{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    border: 0px;
}
.foot-input .input-txt:hover{
    cursor: pointer;
}
.copyright-text{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}
.copyright-text .copyright{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
}







@media only screen and (min-width: 200px) and (max-width: 991px){
    .navbar-collapse button{
        margin-top:5px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 1216px){
    .portal-inner{
        flex-direction: column;
    }
    .portal-imgarea{
        position: relative;
        width: 100%;
    }
    .portal-imgarea .portal-image{
        width: 100%;
        margin-top: 40px;
    }
    .portal-text-area{
        width: 100%;
    }
}
@media only screen and (min-width: 407px) and (max-width: 670px){
    .head-inner{
        margin-top: 352px;
        font-size: 50px;
    }
    .header-strip{
        width: 340px;
        height: 124px;
    }
    .contact-info .contact-para p{
        font-size: 16px;
    }
    
}
@media only screen and (min-width: 509px) and (max-width: 700px){
    .portal-text-area .portal-head{
        font-size: 55px;
    }
    .testi-txt-area .testi-para{
        font-size: 55px;
    }
}
@media only screen and (min-width: 468px) and (max-width: 507px){
    .portal-text-area .portal-head{
        font-size: 50px;
    }
    .testi-txt-area .testi-para{
        font-size: 50px;
    }
}
@media only screen and (min-width: 427px) and (max-width: 467px){
    .portal-text-area .portal-head{
        font-size: 45px;
    }
    .testi-txt-area .testi-para{
        font-size: 45px;
    }
}
@media only screen and (min-width: 445px) and (max-width: 426px){
    .portal-text-area .portal-head{
        font-size: 38px;
    }
    .testi-txt-area .testi-para{
        font-size: 38px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 444px){
    .portal-text-area .portal-head{
        font-size: 30px;
    }
    .testi-txt-area .testi-para{
        font-size: 30px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 406px){
    .head-inner{
        margin-top: 352px;
        font-size: 50px;
    }
    .header-strip{
        width: 340px;
        height: 124px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 360px){
    .head-inner{
        margin-top: 372px;
        font-size: 40px;
    }
    .header-strip{
        width: 300px;
        height: 100px;
    }
}
@media only screen and (min-width: 407px) and (max-width: 991px){
    .count-inner{
        margin-top: 40px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px){
    .portal-imgarea .portal-image{
        height: 300px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 425px){
    .portal-imgarea .portal-image{
        height: 250px;
    }
}


@media only screen and (max-width: 1268px) and (min-width: 985px){
    .news-ltr-inner{
        width: 64%;
    }
}
@media only screen and (min-width: 900px) and (max-width: 984px){
    .news-ltr-inner .newsltr-heading{
        font-size: 44px;
    }
    .news-ltr-inner{
        width: 64%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 17px;
    }
}
@media only screen and (min-width: 797px) and (max-width: 899px){
    .news-ltr-inner .newsltr-heading{
        font-size: 40px;
    }
    .news-ltr-inner{
        width: 64%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 15px;
    }
}
@media only screen and (min-width: 685px) and (max-width: 796px){
    .news-ltr-inner .newsltr-heading{
        font-size: 34px;
    }
    .news-ltr-inner{
        width: 64%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 14px;
    }
}
@media only screen and (min-width: 438px) and (max-width: 684px){
    .news-ltr-inner .newsltr-heading{
        font-size: 34px;
    }
    .news-ltr-inner{
        width: 100%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 14px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 437px){
    .news-ltr-inner .newsltr-heading{
        font-size: 30px;
    }
    .news-ltr-inner{
        width: 100%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 10px;
    }
    .newsletter-input-outter{
        display: flex;
        flex-direction: column;
    }
    .newsletter-input-outter .news-ltr-input, .nuwltr-input-btn{
        width: 100%;
        margin: 0px;
    }
    .newsletter-input-outter .nuwltr-input-btn{
        width: 100%;
        margin: 0px;
        margin-top: 5px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 389px){
    .news-ltr-inner .newsltr-heading{
        font-size: 24px;
    }
    .news-ltr-inner{
        width: 100%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 10px;
    }
    .newsletter-input-outter{
        display: flex;
        flex-direction: column;
    }
    .newsletter-input-outter .news-ltr-input, .nuwltr-input-btn{
        width: 100%;
        margin: 0px;
    }
    .newsletter-input-outter .nuwltr-input-btn{
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 332px){
    .contact-outter .contact-heading h2{
        font-size: 28px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1157px){
    .footer-section2{
        margin-left: 30px;
    }
    .footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
        width: 19%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px){
    .footer-inner{
        flex-direction: column;
        margin-top: 50px;
    }
    .footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
        width: 100%;
        margin-left: 0px;
    }
    .foot-input{
        width: 50%;
    }
}