@font-face {
    src: url(../fonts/Cabin-Regular.ttf);
    font-family: cabin;
  }
body{
    margin: 0px;
    padding: 0px;
    background-color: #E5E5E5;
    font-family: cabin;
}
/*NAVBAR STARTS*/
.navbar-brand .navbar-logo{
    position: absolute;
    width: 99.91px;
    height: 35.94px;
    top: 10px;
}
.navbar-owner{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.navbar{
    width: 100%;
    padding: 8px 0px;
}
.navbar-line{
    background-color: black;
    width: 2px;
    height: 55px;
    position: absolute;
    right: 80px;
    top: 0;
    margin: auto 5px;
}
.navbar-collapse{
    justify-content: flex-end;
}
.menu-img{
    width: 35px;
}
.navbar-collapse .navbar-nav .nav-item{
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    text-transform: capitalize;
    margin-right: 23px;
}
.navbar-collapse .navbar-nav .nav-item:hover{
    transition: .5s;
    opacity: 0.7;
}
.collapse button{
    height: 40px;
}
.post-btn{
    background-color: #00044A;
    border-radius: 3px;
    color: #fff;
}
.login-btn{
    background-color: #19A5D3;
    border-radius: 3px;
    color: #fff;
}
/*NAVBAR ENDS*/
/*HEAD AREA START*/
.jobs-head-bg{
    width:100%;
    z-index: -100;
    background-color:#19A5D3;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.cus-heading h1{
    position: relative;
    z-index: 1000;
    color:#FFFFFF;
    margin-top: 200px;
}

.jobs-head-bg::before{
    position: absolute;
    top: 100px;
    left: 0;
    width: 532px;
    height: 214px;
    z-index: -1;
    content: "";
    background-image: url("../imgs/Background shape.png");
    background-position: left;
    background-repeat: no-repeat;
}

.jobs-head-bg::after{
    position: absolute;
    top: 100px;
    right: 0;
    width: 316px;
    height: 316px;
    z-index: -100;
    content: "";
    background-image: url("../imgs/Frame.png");
    background-position: left;
    background-repeat: no-repeat;
}
/*HEAD AREA END*/

/* DASHBORD HEADING AREA START */
.proile-heading-area{
    margin-top: 90px;
    margin-bottom: 60px;
    width: 100%;
}
.cus-dash-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-heading p{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.03em;
    color: #707070;
    text-transform: capitalize;
}
.upload-cv-btn input[type="file"]{
    display: none;
}
.upload-cv-btn .cv-btn-text{
    background-color: #19A5D3;
    border-radius: 5px;
    height: 60px;
    width: 160px;
    text-align: center;
    padding-top: 19px;
}
.upload-cv-btn .cv-btn-text label{
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #ECF0F1;
    text-transform: capitalize;
}
/* DASHBORD HEADING AREA END */
/*COMPANY LOGO AREA START*/
.company-head-outter{
    margin: 100px auto 50px auto;
}
.company-head-outter .company-info{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.location{
    position: absolute;
    top: 18px;
    left: 140px;
    padding-left: 14px;
}
.location::before{
    content: "";
    width: 2px;
    height: 25px;
    background-color: rgba(52, 73, 94, 0.5);;
    position: absolute;
    top: -4px;
    left: -22px;
    margin-left: 20px;
}
.location img{
    vertical-align: baseline;
}
.company-logo .company-name{
    margin-left: 15px;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: #707070;
    text-transform: uppercase;
}
.location .area{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #707070;
}
/*COMPANY LOGO AREA END*/
/* SUMMARY AREA START*/
.summary-margin{
    margin-top: 60px;
    margin-bottom: 111px;
}
.summary-inner{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left-section{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.summary-heading{
    margin-bottom: 12px;
}
.summary-heading h1{
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #08368E;
    text-transform: capitalize;
}
.left-section .summary-para p{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #707070;
}
.left-section .summary-para{
    margin-bottom: 40px;
}
/*JOB SECTION*/
.job-heading{
    margin-bottom: 47px;
}
.job-heading h1{
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #08368E;
    text-transform: capitalize;
}
.job-section{
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    margin-top: 20px;
}
.three-dots{
    position: absolute;
    top: 5px;
    right: 16px;
}
.job-post{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.job-post .cmpny-img{
    width: 40%;
}
.post-heading{
    display: flex;
    flex-direction: row;
    position: relative;
}
.post-heading h1{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #707070;
}
.post-heading .full-time{
    background-color: #FFC108;
    border-radius: 1000px;
    height: 30px;
    width: 100px;
    text-align: center;
    padding: 4px;
    position: absolute;
    top: 0px;
    left: 300px;
}
.post-heading .full-time p{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #EAFBFF;
}
.name-location{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    margin-bottom: 13px;
}
.name-location .name{
    margin-right: 17px;  
}
.name-location .name span{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #DE0B1C;
}
.name-location .name img{
    margin-bottom: 7px;
}
.name-location .job-location span{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #707070;
}
.name-location .job-location img{
    margin-bottom: 7px;
}
.post-para{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #B1B1B1;
}
.deadline{
    float: right;
}
.deadline .deadline-text{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #B1B1B1;
}
.deadline .deadline-date{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #DE0B1C;
}


/*RIGHT SECTION*/
.right-section{
    display: flex;
    flex-direction: column;
    width: 34%;
    margin-left: 80px;
    
}
.right-section .cus-app:nth-child(2){
    margin-top: 30px;
} 
.right-section .cus-app{
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 30px 53px 20px 70px;
    background-color: #FFFFFF;
    border-radius: 8px;
    position: relative;
    height: 150px;
    width: 367px;
}
.cus-app h3{
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #707070;
}
.cus-app p{
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #19A5D3;
}
.cus-app .horizontal-line{
    background-color: #00044A;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 150px;
    width: 15px;
}
/* SUMMARY AREA END*/


/* NEWS LETTER START*/
.newsltrr-color{
    background-image: linear-gradient(rgba(25, 165, 211, 0.7), rgba(25, 165, 211, 0.7)), url("../imgs/Rectangle 20.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    padding: 90px 0px;
    width: 100%;
    position: relative;
}
.news-ltr-img{
    position: absolute;
    left: 0px;
    top: -398px;
    z-index:-1;
}
.news-ltr-inner{
    font-family: cabin;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.news-ltr-inner .newsltr-heading{
    font-size: 50px;
    color: #ECF0F1;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.news-ltr-inner .newsltr-heading{
    font-size: 50px;
    color: #ECF0F1;
    text-transform: capitalize;
    margin-bottom: 20px;
}.news-ltr-inner .newsltr-para{
    font-size: 20px;
    color: #ECF0F1;
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: 26px;
}
.newsletter-input-outter .news-ltr-input{
    height: 50px;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 4px;
    border:0px;
}
.newsletter-input-outter .nuwltr-input-btn{
    background-color: #00044A;
    font-size: 16px;
    color: #ECF0F1;
    height: 50px;
    width: 170px;
    border-radius: 4px;
    text-transform: capitalize;
    border: 0px;
    margin-left: 20px;
}
.newsletter-input-outter input[type=text]{
    padding-left: 20px;
    font-family:cabin
}
.newsletter-input-outter .nuwltr-input-btn:hover{
    opacity: 0.8;
    transition: 0.5s;
    font-size: 20px;
}
/* NEWS LETTER ENDS*/

/*FOOTER AREA STARTS*/
.footer-bg{
    background-color: #707070;
    position: absolute;
}
.footer-inner{
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.footer-section1 .footer-logo{
    margin-bottom: 20px;
    width: 100px;
    height: 35px;
}
.footer-section1 .footer-logo-text{
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}
.footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-section2 .foot-heading, .footer-section3 .foot-heading, .footer-section4 .foot-heading, .footer-section5 .foot-heading{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
}  
.foot-link{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 10px;
}
.foot-link:hover{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
    opacity: 0.5;
    transition: 0.5s;
}
.foot-input{
margin-top:10px;
}
.foot-input .input-group-text{
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
}
.foot-input .input-txt{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    border: 0px;
}
.foot-input .input-txt:hover{
    cursor: pointer;
}
.copyright-text{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}
.copyright-text .copyright{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
}




/* MEDIA QUEERRY STAR*/
@media only screen and (min-width: 579px) and (max-width: 767px){
    .jobs-heading h2{
        font-size: 45px;
        padding-top: 20px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 580px){
    .jobs-heading{
        left: -4px;
    }
    .jobs-heading h2{
        font-size: 45px;
        padding-top: 20px;
    }
}
@media only screen and (min-width: 456px) and (max-width: 483px){
    .jobs-heading{
        left: -4px;
    }
    .jobs-heading h2{
        font-size: 40px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 456px){
    .jobs-heading{
        left: -4px;
    }
    .jobs-heading h2{
        font-size: 40px;
        padding-top: 25px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 375px){
    .jobs-heading{
        left: -4px;
    }
    .jobs-heading h2{
        padding-top: 20px;
        font-size: 35px;
    }
}
@media only screen and (min-width: 398px) and (max-width: 437px){
    .jobs-heading h2{
        font-size: 38px;
        padding-top: 32px;
    }  
}
@media only screen and (min-width: 200px) and (max-width: 397px){
    .jobs-heading h2{
        font-size: 35px;
        padding-top: 25px;
    }  
}
@media only screen and (min-width: 336px) and (max-width: 357px){
    .jobs-heading h2{
        font-size: 32px;
        padding-top: 25px;
    }  
}
@media only screen and (min-width: 200px) and (max-width: 367px){
    .jobs-heading h2{
        font-size: 30px;
        padding-top: 25px;
    }  
}
@media only screen and (min-width: 486px) and (max-width: 532px){
    .profile-heading p{
        font-size: 45px;
    }
}
@media only screen and (min-width: 420px) and (max-width: 485px){
    .profile-heading p{
        font-size: 38px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 420px){
    .profile-heading p{
        font-size: 35px;
    }
}
@media only screen and (min-width: 344px) and (max-width: 389px){
    .profile-heading p{
        font-size: 30px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 343px){
    .profile-heading p{
        font-size: 27px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 575px){
    .proile-heading-area{
        padding: 0px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 1000px){
    .summary-inner{
        flex-direction: column;
        width: 100%;
    }
    .left-section{
        width:100%;
    }
    .right-section{
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
}


@media only screen and (min-width: 200px) and (max-width: 767px){
    .post-heading{
        flex-direction: column;
    }
    .job-text-area{
        margin-left: 20px;
    }
    .post-heading .full-time{
        position: static;
    }
}
@media only screen and (min-width: 200px) and (max-width: 436px){
    .right-section .cus-app{
        width: 100%;
    }
    
}
@media only screen and (min-width: 200px) and (max-width: 375px){
    .job-post{
        flex-direction: column;
    }
    .job-text-area{
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 767px){
    .cus-dash-heading{
        flex-direction: column;
    }
    .upload-cv-btn{
        margin-top: 20px;
    }
    
}
@media only screen and (min-width: 200px) and (max-width: 500px){
    .upload-cv-btn .cv-btn-text{
        height:45px;
        width: 130px;
        padding-top: 10px;

    }
}

@media only screen and (min-width: 200px) and (max-width: 992px){
    .navbar-line{
        display: none;
    }
    .navbar-collapse button{
        margin-top: 5px;
    }
    .navbar-collapse .navbar-nav .nav-item{
        margin-top: 5px;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 1268px) and (min-width: 985px){
    .news-ltr-inner{
        width: 64%;
    }
}
@media only screen and (min-width: 900px) and (max-width: 984px){
    .news-ltr-inner .newsltr-heading{
        font-size: 44px;
    }
    .news-ltr-inner{
        width: 64%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 17px;
    }
}
@media only screen and (min-width: 797px) and (max-width: 899px){
    .news-ltr-inner .newsltr-heading{
        font-size: 40px;
    }
    .news-ltr-inner{
        width: 64%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 15px;
    }
}
@media only screen and (min-width: 685px) and (max-width: 796px){
    .news-ltr-inner .newsltr-heading{
        font-size: 34px;
    }
    .news-ltr-inner{
        width: 64%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 14px;
    }
}
@media only screen and (min-width: 438px) and (max-width: 684px){
    .news-ltr-inner .newsltr-heading{
        font-size: 34px;
    }
    .news-ltr-inner{
        width: 100%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 14px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 437px){
    .news-ltr-inner .newsltr-heading{
        font-size: 30px;
    }
    .news-ltr-inner{
        width: 100%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 10px;
    }
    .newsletter-input-outter{
        display: flex;
        flex-direction: column;
    }
    .newsletter-input-outter .news-ltr-input, .nuwltr-input-btn{
        width: 100%;
        margin: 0px;
    }
    .newsletter-input-outter .nuwltr-input-btn{
        width: 100%;
        margin: 0px;
        margin-top: 5px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 389px){
    .news-ltr-inner .newsltr-heading{
        font-size: 24px;
    }
    .news-ltr-inner{
        width: 100%;
    }
    .news-ltr-inner .newsltr-para{
        font-size: 10px;
    }
    .newsletter-input-outter{
        display: flex;
        flex-direction: column;
    }
    .newsletter-input-outter .news-ltr-input, .nuwltr-input-btn{
        width: 100%;
        margin: 0px;
    }
    .newsletter-input-outter .nuwltr-input-btn{
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 990px){
    .navbar-collapse button{
        margin-top: 5px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1157px){
    .footer-section2{
        margin-left: 30px;
    }
    .footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
        width: 19%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px){
    .footer-inner{
        flex-direction: column;
        margin-top: 50px;
    }
    .footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
        width: 100%;
        margin-left: 0px;
    }
    .foot-input{
        width: 50%;
    }
}